.title {
  display: -webkit-box;
  margin: 0;
  max-width: fit-content;
  font-size: 16px;
  line-height: normal;
  font-weight: normal;
  overflow: hidden;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.title > *:hover {
  color: var(--orange);
  cursor: pointer;
}

@media (min-width: 1024px) {
  .title {
    font-size: 20px;
    line-clamp: 1;
    -webkit-line-clamp: 1;
  }
}

@media (min-width: 1540px) {
  .title::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
