.title {
  margin: 0;
  max-width: fit-content;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;

  overflow: hidden;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.title:hover {
  color: var(--orange);
  cursor: pointer;
}

/* .postLink {
  overflow: hidden;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
} */

@media (min-width: 1024px) {
  .title {
    font-size: 20px;
  }
}

@media (min-width: 1540px) {
  /* .postLink::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  } */

  .title::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
