.cardsListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardsList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media all and (min-width: 1024px) {
  .cardsList {
    padding: 20px 0;
  }
}

@media (min-width: 1540px) {
  .cardsList {
    padding: 47px 0;
  }
}
