.post {
  position: absolute;
  left: 50%;

  padding: 52px 60px 36px;
  max-width: 960px;
  width: 100%;
  border-radius: 7px;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
  background-color: white;
  z-index: 2;
  transform: translate(-50%);
}

.closeButton {
  position: absolute;
  top: 30px;
  right: 20px;
  cursor: pointer;
}

.closeButton:hover svg {
  fill: var(--orange);
}

.headerContainer {
  display: flex;
  gap: 20px;
  margin-bottom: 24px;
}

.headerContainer h2::after {
  content: none;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 25px;
  column-gap: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--greyD9);
  padding-bottom: 30px;
}

.postMenuItemsListContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 28px;
  margin-bottom: 37px;
}

.commentFormContainer {
  margin-bottom: 35px;
}

.postSortContainer {
  margin-bottom: 50px;
  border-bottom: 1px solid var(--greyD9);
  padding-bottom: 15px;
  display: flex;
  gap: 5px;
}

.commentsContainer {
  margin-bottom: 30px;
}

.hiddenComment {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
