.post {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  padding: 52px 60px 36px;
  max-width: 960px;
  border-radius: 7px;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
  background-color: white;
  z-index: 2;
}

.closeIconContainer {
  position: absolute;
  top: 30px;
  right: 20px;
  cursor: pointer;
}

.closeIconContainer:hover svg {
  fill: var(--orange);
}

.headerContainer {
  display: flex;
  gap: 20px;
  margin-bottom: 24px;
}

.headerContainer h2::after {
  content: none;
}
