.menuItemsList {
  display: flex;
}
.menuItemsListRow {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 28px;
}
.menuItemsListColumn {
  flex-direction: column;
}

.menuItem {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 5px;
}
.menuItemColumn:not(:last-child) {
  padding-bottom: 12px;
  border-bottom: 1px solid var(--greyEC);
}
.menuItemColumn:not(:first-child) {
  padding-top: 11px;
}

.menuItem:hover {
  cursor: pointer;
}
.menuItem:hover > span {
  color: var(--orange);
}
.menuItem:hover > svg {
  fill: var(--orange);
}

@media (min-width: 1540px) {
  .menuItemsList {
    padding-top: 8px;
    padding-bottom: 11px;
  }

  .menuItemColumn:not(:last-child) {
    padding-bottom: 6px;
  }
  .menuItemColumn:not(:first-child) {
    padding-top: 5px;
  }
}
