.menuItemsList {
  padding: 0 20px;
}

.menuItem {
  padding: 11px 0;
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 5px;
}

.menuItem:not(:last-child) {
  border-bottom: 1px solid var(--greyEC);
}

.menuItem:hover {
  cursor: pointer;
}
.menuItem:hover > span {
  color: var(--orange);
}
.menuItem:hover > svg {
  fill: var(--orange);
}

@media (min-width: 1540px) {
  .menuItemsList {
    padding-top: 8px;
    padding-bottom: 11px;
  }
  .menuItem {
    padding: 6px 0;
  }
}
