.menuContainer {
  position: absolute;
  top: 17px;
  right: 15px;
}
.menuButton {
  width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  border-radius: 31px;
  background: transparent;
  bottom: 0;
}
.menuButton > svg {
  width: 5px;
}
.menuButton:active,
.menuButton:hover {
  background-color: rgba(51, 51, 51, 0.1);
}

.menuMenuItemsListContainer {
  padding: 12px 17px 12px 20px;
}

.closeButton {
  border-radius: 0 0 3px 3px;
  padding: 12px 23px;
  width: 100%;
  background-color: var(--greyD9);
}
.closeButton:hover * {
  color: var(--orange);
}

@media (min-width: 1024px) {
  .menuContainer {
    position: relative;
    top: 0;
    right: 0;
    order: 2;
    margin-right: 22px;
  }

  .menuButton {
    align-self: center;
    transform: unset;
  }
}

@media (min-width: 1540px) {
  .menuButton:hover {
    background-color: rgba(51, 51, 51, 0.1);
  }

  .menuMenuItemsListContainer {
    padding: 14px 14px 17px 20px;
  }
}
