.menu {
  position: absolute;
  top: 17px;
  right: 15px;
}
.menuButton {
  width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  border-radius: 31px;
  background: transparent;
  bottom: 0;
}
.menuButton:active,
.menuButton:hover {
  background-color: rgba(51, 51, 51, 0.1);
}

.dropdown {
  position: absolute;
  right: 0;
  top: 10px;
  box-shadow: 0 0 20px;
  background-repeat: 3px;
  background-color: var(--white);
}

.closeButton {
  border-radius: 0 0 3px 3px;
  padding: 12px 23px;
  width: 100%;
  background-color: var(--greyD9);
}

@media (min-width: 1024px) {
  .menu {
    position: relative;
    top: 0;
    right: 0;
    order: 2;
    margin-right: 22px;
  }
  .menuButton {
    align-self: center;
    transform: unset;
  }
}

@media (min-width: 1540px) {
  .menuButton:hover {
    background-color: rgba(51, 51, 51, 0.1);
  }
}
