.commentsList {
  display: flex;
  flex-direction: column;
  row-gap: 39px;
}

.comment {
  display: flex;
  column-gap: 20px;
}

.commentBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 39px;
}
.commentTextWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}

.commentBlock::before {
  content: '';
  position: absolute;
  top: 40px;
  left: -30px;
  bottom: 0;
  width: 3px;
  background-color: var(--greyD9);
}
