.textContent {
  padding: 0 20px 15px;
  width: 100%;
}

@media (min-width: 1024px) {
  .textContent {
    display: flex;
    flex-direction: column;
    order: 1;
    gap: 10px;
    padding: 0;
    margin-right: auto;
  }
}
