.textContent {
  padding: 0 20px 15px;
}

@media (min-width: 1024px) {
  .textContent {
    max-width: 540px;
    width: 100%;
    display: flex;
    flex-direction: column;
    order: 1;
    gap: 10px;
    padding: 0;
    margin-right: auto;
  }
}

@media (min-width: 1540px) {
  .textContent {
    flex-basis: 672px;
  }
}
