.sortBlockContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  padding: 11px 20px;
  margin: 0 0 20px;
  background-color: var(--white);
}

@media all and (min-width: 1024px) {
  .sortBlockContainer {
    margin: 0 auto 0 0;
    padding: 0;
    background-color: transparent;
    background-repeat: 0;
  }
}
