.form {
  display: grid;
  grid-template-columns: 1fr auto;
}

.input {
  grid-column: span 2;
  display: block;
  padding: 16px 18px;
  min-height: 90px;
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 3px 3px 0 0;
  resize: none;
  font-size: 16px;
  color: var(--grey99);
}

.iconsButtonsList {
  width: 100%;
  display: flex;
  gap: 26px;
  padding: 15px 18px;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  background-color: var(--greyE5);
}
.iconsButtonItem {
  max-height: 20px;
}
.iconButton:hover > svg {
  fill: var(--orange);
}

/* .button {
  display: block;
  border-radius: 0 0 3px 0;
  margin-left: auto;
  padding: 17px 50px;
  min-height: 50px;
  max-width: 220px;
  width: 100%;
  background: var(--orange);
  font-weight: 500;
  color: var(--white);
} */
