.card {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  border-radius: 7px;
  padding: 22px 0 10px;
  background-color: var(--white);
}

@media (min-width: 1024px) {
  .card {
    padding: 20px 40px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .card:hover {
    outline: 1px solid var(--greyD9);
    outline-offset: -1px;
    cursor: pointer;
  }
}

@media (min-width: 1540px) {
  .card {
    padding: 20px 60px;
  }
}
