.searchBlock {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  border-radius: 0 0 7px 7px;
  padding: 13px 20px;
  margin: 0 0 36px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
}

@media all and (min-width: 1024px) {
  .searchBlock {
    border-radius: 0;
    padding: 0;
    margin: 0;
    gap: 30px;
    order: 3;
    box-shadow: none;
    background-color: transparent;
  }
}

@media (min-width: 1540px) {
  .searchBlock {
    gap: 50px;
  }
}
