.userContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.userContainer:hover span {
  color: var(--orange);
}

.userContainer:hover svg {
  border-radius: 100%;
  outline: 1px solid var(--orange);
  outline-offset: 5px;
}

.userAvatar {
  width: 100%;
  max-width: 50px;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.userContainer:hover > .userAvatar {
  border-radius: 100%;
  outline: 1px solid var(--orange);
  outline-offset: 5px;
}

.userName {
  display: none;
}

@media all and (min-width: 1024px) {
  .userContainer {
    width: 100%;
    max-width: fit-content;
    order: 3;
    gap: 13px;
  }
  .userName {
    display: flex;
  }
}
