.controls {
  padding: 0 20px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.karmaCounter {
  display: flex;
}
.karmaCounter > * + * {
  padding: 0 0 0 4px;
}

.karmaValue {
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: var(--greyC4);
}

.buttonUp {
  height: 10px;
}
.buttomDown {
  height: 10px;
}
.buttonUp:hover > svg {
  cursor: pointer;
  fill: var(--green);
}
.buttomDown:hover > svg {
  cursor: pointer;
  fill: var(--red);
}

.commentsButton {
  display: flex;
  align-items: normal;
}
.commentsButton * {
  color: var(--greyC4);
}
.commentsButton:hover * {
  color: var(--orange);
  fill: var(--orange);
}

.commentsNumber {
  padding: 0 0 0 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--greyC4);
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  gap: 15px;
}

.shareButton:hover svg {
  fill: var(--orange);
  cursor: pointer;
}

.saveButton:hover svg {
  fill: var(--orange);
  cursor: pointer;
}

@media (min-width: 1024px) {
  .controls {
    order: 3;
    flex: 0 0;
    margin: 0;
    padding: 0;
  }

  .karmaCounter {
    justify-content: center;
    flex-flow: column nowrap;
    flex-direction: column;
    justify-content: space-between;
    gap: 7px;
    padding: 0;
  }

  .karmaCounter > * + * {
    padding: 0;
  }
  .karmaValue {
    max-height: 12px;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    color: var(--black);
  }
  .commentsButton {
    display: none;
  }
  .actions {
    display: none;
  }
}

@media (min-width: 1540px) {
  .controls {
    position: relative;
  }
}
