.preview {
  max-height: 178px;
  margin-bottom: 10px;
}
.previewImg {
  max-height: 107px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

@media (min-width: 1024px) {
  .preview {
    width: 190px;
    height: 107px;
    margin: 0 38px 0 0;
  }
}
