.previewImg {
  margin-bottom: 10px;
  max-height: 107px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 1024px) {
  .previewImg {
    margin: 0 38px 0 0;
    max-height: 107px;
    height: 100%;
    width: 100%;
    max-width: 190px;
  }
}
