.button {
  display: block;
  border-radius: 0 0 3px 0;
  padding: 17px 50px;
  min-height: 50px;
  max-width: 220px;
  width: 100%;
  background: var(--orange);
  font-weight: 500;
  color: var(--white);
}

.button:hover {
  background: var(--lightOrange);
}
