@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --black: #333333;
  --black00: #000000;
  --orange: #cc6633;
  --green: #a4cc33;
  --white: #ffffff;
  --red: #cc3361;
  --greyF4: #f4f4f4;
  --greyF3: #f3f3f3;
  --greyD9: #d9d9d9;
  --greyC4: #c4c4c4;
  --grey99: #999999;
  --grey66: #666666;
  --greyEC: #ececec;
  --grey97: #979797;
  --greyAD: #adadad;
  --greyE5: #e5e5e5;

  --dropDownWidthMobile: 140px;
  --dropDownWidthTablet: 157px;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  font-size: 14px;
  line-height: 16px;
  font-family: 'Roboto', serif;
  font-weight: 400;
  background-color: var(--greyF4);
}

* {
  box-sizing: border-box;
  color: var(--black);
  --webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
}

.h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  display: block;
  margin: 0;
}

figure,
image {
  margin: 0;
  padding: 0;
}
