.menuIcon {
  width: 5px;
  height: 20px;
  fill: var(--greyD9);
}

.arrowupIcon {
  width: 19px;
  height: 10px;
  fill: var(--greyC4);
}

.arrowdownIcon {
  width: 19px;
  height: 10px;
  fill: var(--greyC4);
}

.shareCircleIcon {
  width: 20px;
  height: 20px;
  fill: var(--white);
}

.saveCircleIcon {
  width: 20px;
  height: 20px;
  fill: var(--white);
}

.anonIcon {
  width: 50px;
  height: 50px;
  fill: var(--greyD9);
}
