.metaData {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 7px;
}

.avatar {
  margin-right: 7px;
  max-width: 20px;
  border-radius: 100%;
}

.username {
  margin-right: 3px;
  font-weight: 400;
  font-size: 10px;
  color: var(--orange);
}

.username:hover {
  text-decoration: underline;
}

.publishedLabel {
  font-weight: 400;
  font-size: 10px;
  color: var(--grey99);
}

@media (min-width: 1024px) {
  .metaData {
    display: flex;
    order: 1;
    margin: 0;
  }

  .avatar {
    order: 2;
    margin-right: 7px;
  }

  .username {
    order: 3;
    font-size: 14px;
  }

  .publishedLabel {
    order: 1;
    margin-right: 6px;
    display: inline;
    font-size: 14px;
  }
}

@media (min-width: 1540px) {
  .username {
    position: relative;
    z-index: 1;
  }
}
